<nav id="navContain">
    <div>
        <h3>Mongo Scraper</h3>
    </div>
    <div>
        <button id="home">Home</button>
    </div>
    <div>
        <button id="saved" onclick='location.href="/saved"'>Saved Articles</button>
    </div>
    <div>
        <button id="Scrape" onclick='location.href="/scrape"'>Scrape</button>
    </div>
</nav>