<div id="MainContain">
    <h1>KDVR Scrapper</h1>
    <div id="articleContain">
        <div id="articles"></div>
        <button class="note"> Note</button>
    </div>
    <div id="notes"></div>
</div>